body{background-color: #223124;}
h1{color:#eae40b;text-align: center;font-family: 'Roboto', sans-serif;font-size: 300%;}
p{color:#eae40b;text-align: center;font-family: 'Roboto', sans-serif;}
ul{color:#eae40b;text-align: left;font-family: 'Roboto', sans-serif}
div{color:#eae40b;text-align: left;font-family: 'Roboto', sans-serif}
h2{color:#eae40b;text-align: center;font-family: 'Roboto', sans-serif;font-size: 300%;}
li{background-color: #eae40b}